*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-content:space-between;
    padding: 20px 150px;
    background-color:#1f2937;

}

ul{
    display:flex;
    justify-content: space-between;
    align-content: center;
    list-style-type: none;
    gap:24px;
    color: #e5e7eb;
    font-size: 18px;
}

.logo{
    display: flex;
    align-content: center;
    font-size: 24px;
    color:#f9faf8;
}

.main {
    display: flex;
    align-content: center;
    justify-content: space-between;
    gap:30px;
    background-color:#1f2937;
    padding: 100px 150px;

}

.main > * {
    flex: 1 1 0;
  }

.main h1{
    font-size: 48px;
    color:#f9faf8;
    font-weight:bolder;
    padding: 10px 0;
}
.main p {
    font-size: 18px;
    color:#e5e7eb;
    padding: 10px 0;
}

.button1 {
    padding: 7px 25px;
    background-color: #3882f6;
    border: none;
    border-radius: 8px;
    color: #f9faf8;
    font-weight:bold;
}
.right-main { display: flex;
    background-color: grey;
    justify-content: center;
 align-items: center;
}

.middle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}
.boxes {
    display: flex;
    padding: 30px 150px;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.square {
    height: 150px;
    width: 150px;
    border-color:#3882f6;
    border-radius: 10px;
    border-style:groove;
    align-items: center;
}
.subtext {
    display: flex;
    flex-direction: column;
    width: min-content;
    gap: 10px;
}
.quote {
    padding: 50px 250px;
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}
.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 150px;
}
#bluebox {
    height: 150px;
    width: 300px;
    background-color: #3882f6;
    border-radius: 8px;
    padding: 0px 300px;
}

.container {
 display: flex;
 justify-content: space-evenly;
align-items: center;
gap: 100px;
color: #f9faf8;
}

.container h1{
    font-size: 18px;
    white-space: nowrap;
}
.container p {
    font-size: 18px;
    white-space: nowrap;
}

button {
    background-color: #3882f6;
    border-color: #e5e7eb;
    border-style:solid;
    border-radius: 8px;
    border-width: 2px;
    padding: 7px 25px;
    white-space: nowrap;
    color: #e5e7eb;
    font-weight: bold;
}

footer {
    display: flex;
    justify-content:center;
    align-content:center;
    padding: 40px 150px;
    background-color:#1f2937;
    color: #e5e7eb;
}